<!--head-->
<header>
	<div class="img-wrap">
		<img src="/images/logo.jpg" class="img-circle">	
	</div>
	<div class="tit">
		<h2>Stay before every beautiful thoughts</h2>
		<p>在每一个美好的思想前停留</p>
	</div>
	<img src="/images/bg.jpg" class="bg"/>
</header>
<!--nav-->
<nav>
	<div class="nav">
		<a href="/" class="active">首页</a>
    	<a href="/boke">写博客</a>
    	<a href="/messages">给我留言</a>
	</div>
	
</nav>